<div class="grid grid-colds-1 space-y-4 bg-slate-100 p-5 rounded-md">   
    <div *ngFor="let day of timeline">
        <div class="font-bold text-md">
            {{day.prettyDate()}}
        </div>
        <div class="grid grid-cols-1 space-y-2 pl-2">
            <button *ngFor="let commit of day.commits"
                class="pt-1 pl-2 pr-2 pb-2 rounded-md border
                border-transparent hover:border-black"
                [ngClass]="commit.currentClass"
                (click)="toggleCommit(commit)">
                <div class="flex justify-between">
                    <span class="text-slate-400 font-mono text-xs text-left">
                        {{commit.prettyTime}}
                    </span>
                    <span class="font-mono text-xs text-right">
                        {{commit.prettyRepo}}
                    </span>
                </div>

                <div class="font-seriff pl-2 text-left">
                    {{commit.message}}
                    {{commit.prettyRepo}}
                </div>
            </button>
        </div>
    </div>
</div>